<% provide :hero_title, "Sign in to Robocraft" %>

<div class="row body">
	<div class="medium-8 columns large-centered">
		<%= form_for(:session, url: sessions_path) do |f| %>

			<%= f.label :name, "Username" %>
			<%= f.text_field :name %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= button_tag "Sign in", class: "button" %>
		<% end %>

		<p>New user? <%= link_to "Sign up now!", signup_path %></p>
	</div>
</div>