<div class="item">
	<div class="row">
		<div class="large-8 columns">
			<h2><%= link_to competition.name, competition %></h2>
			<p><%= truncate(competition.description, length: 200, separator: ' ', omission: '... ') { link_to "more", competition } %></p>
		</div>
		<div class="large-4 columns">
			<p><%= pluralize(competition.views, "view") %></p>
			<p><%= pluralize(competition.robots.count, "robot") %></p>
			<%= link_to_if(!competition.open?, "Closed", competition, class: "label") {} %>
		</div>
	</div>
</div>