<%= form_for @competition do |f| %>

	<% if @competition.errors.any? %>
		<% @competition.errors.full_messages.each do |msg| %>
		<div data-alert class="alert-box alert">
			<%= msg %>
			<a href="#" class="close">&times;</a>
		</div>
		<% end %>
	<% end %>

	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :description, class: "left" %>
	<span data-tooltip aria-haspopup="true" class="has-tip right" title="You can use links in your competition's description by simply entering the URL. This can be useful to link to imgur albums or YouTube videos.">Remember</span>
	<%= f.text_area :description, rows: 8 %>

	<%= f.label :categories %>
	<div class="row">
		<% Category.all.each do |c| %>
			<div class="medium-3 columns">
				<%= check_box_tag "competition[category_ids][]", c.id, @competition.categories.include?(c), disabled: @competition.categories.include?(c) %>
				<span data-tooltip aria-haspopup="true" class="has-tip no-highlight" title="<%= c.description %>"><%= c.name %></span>
			</div>
		<% end %>
	</div>

	<%= button_tag "Submit", class: "button" %>
<% end %>