<% provide :hero_title, @competition.name %>
<% provide :hero_subtitle, pluralize(@competition.robots.count, "entry") %>

<div class="row body">
	<div class="large-8 columns">
		<p class="lead"><%= @competition.description %></p>
		<hr>

		<% if signed_in? %>
			<% if current_user.robots.blank? %>
				<p class="text-center">You don't have any robots. </br>Why not <%= link_to "create a new robot?", new_robot_path %></p>
			<% elsif !@has_enterable_robots %>
				<p class="text-center">None of your robots fit this competition's categories. </br>Why not <%= link_to "create a new robot?", new_robot_path %></p>
			<% else %>
				<%= render 'entries/form' %>
			<% end %>
		<% else %>
			<p class="text-center"><%= link_to "Sign in", signin_path %> to enter this competition.</p>
		<% end %>
	</div>
	<div class="large-4 columns">
		<span>Open categories:</span>
		<% @competition.categories.each do |c| %>
			<%= link_to c.name, c, class: "label category" %>
		<% end %>
		<p class="body"><%= pluralize(@competition.views, "view") %>, <%= link_to pluralize(@competition.entries.count, "entry"), competition_entries_path(@competition) %></p>
		<p>by <%= link_to @user.name, @user %>, <%= time_ago_in_words(@competition.created_at) %> ago</p>

		<% if current_user?(@competition.user) || admin?(current_user) %>
			<%= link_to "Edit", edit_competition_path(@competition), class: "button tiny secondary" %>
			<%= link_to "Delete", @competition, method: :delete, data: { confirm: "Are you sure?" }, class: "button tiny alert" %>
		<% end %>
	</div>
</div>

<div class="row body">
	<div class="large-12 columns">
		<h2>Most popular entries:</h2>
	</div>
</div>

<%= render @entries %>
<div class="row body">
	<div class="large-3 columns large-centered">
		<%= link_to "View all entries", competition_entries_path(@competition), class: "button expand" %>	
	</div>
</div>