<%= form_for @robot do |f| %>

	<% if @robot.errors.any? %>
		<% @robot.errors.full_messages.each do |msg| %>
		<div data-alert class="alert-box alert">
			<%= msg %>
			<a href="#" class="close">&times;</a>
		</div>
		<% end %>
	<% end %>

	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :description, class: "left" %>
	<span data-tooltip aria-haspopup="true" class="has-tip right" title="You can use links in your robot's description by simply entering the URL. This can be useful to link to imgur albums or YouTube videos.">Remember</span>
	<%= f.text_area :description, rows: 8 %>

	<%= f.label :weapon %>
	<% Weapon.all.each do |w| %>
		<%= radio_button_tag "robot[weapon_id]", w.id, w == @robot.weapon %>
		<%= label_tag "robot_weapon_id_#{w.id}", w.name, class: "label-input" %><br>
	<% end %>

	<%= f.label :categories %>
	<div class="row">
		<% Category.all.each do |c| %>
			<div class="medium-3 columns">
				<%= check_box_tag "robot[category_ids][]", c.id, @robot.categories.include?(c) %>
				<span data-tooltip aria-haspopup="true" class="has-tip no-highlight" title="<%= c.description %>"><%= c.name %></span>
			</div>
		<% end %>
	</div>

	<%= f.label :tier_id %>
	<%= f.collection_select :tier_id, Tier.all, :id, :name, { prompt: true }, { class: "full-width" } %>

	<%= f.label :screenshot_url, class: "left" %>
	<span data-tooltip aria-haspopup="true" class="has-tip right" title="This is a link to a Steam screenshot of your robot. It should look something like: http://cloud-4.steampowered.com/ugc/[numbers]">What is this?</span>
	<%= f.text_field :screenshot_url %>

	<%= button_tag "Submit", class: "button" %>
	<%= link_to "Back", robots_path, class: "button secondary" %>
<% end %>