<div class="item">
	<div class="row">
		<div class="large-3 small-12 columns text-center">
			<%= link_to image_tag(robot.screenshot_url + "288x162.resizedImage", alt: robot.name), robot %>
		</div>
		<div class="large-6 small-8 columns">
			<h2>
				<span class="label tier"><%= link_to "T" + robot.tier.name, tier_path(robot.tier.name) %></span>
				<%= link_to robot.name, robot %>
			</h2>
			<p>by <%= link_to robot.user.name, robot.user %> <%= time_ago_in_words(robot.created_at) %> ago</p>
			<p><%= linked_text_body robot.description, truncate: 200 %></p>
			<% if current_user?(robot.user) || admin?(current_user) %>
				<%= link_to "Edit", edit_robot_path(robot), class: "button tiny secondary" %>
				<%= link_to "Delete", robot, method: :delete, data: { confirm: "Are you sure?" }, class: "button tiny alert" %>
			<% end %>
		</div>
		<div class="large-3 small-4 columns">
			<% robot.categories.each do |c| %>
				<%= link_to c.name, c, class: "label category" %>
			<% end %>
			<p class="body">
				<%= pluralize(robot.comments.count, "comment") %><br>
				<%= pluralize(robot.views, "view") %><br>
				<%= pluralize(robot.entries.count, "entry") %>
			</p>

			<%= render 'robots/favorite', robot: robot %>
			<p><%= pluralize(robot.get_likes.size, "favorite") %></p>
		</div>
	</div>
</div>