<div class="row">
	<div class="large-12 columns body">
		<dl class="sub-nav">
			<dt>Show by:</dt>
			<dd class="<%= "active" if active == "Newest" %>"><%= link_to "Newest", robots_path %></dd>
			<dd class="<%= "active" if active == "Hot" %>"><%= link_to "Hot", hot_robots_path %></dd>
			<dd class="<%= "active" if active == "Popular" %>"><%= link_to "Popular", popular_robots_path %></dd>
			<dd class="<%= "active" if active == "Tier" %>"><%= link_to "Tier", tier_path(Tier.first) %></dd>
			<% if defined? user %>
				<dd class="<%= "active" if active == "User" %>">
					<% if signed_in? && current_user?(user) %>
						<%= link_to "By me", user_robots_path(current_user) %>
					<% else %>
						<%= link_to "By #{user.name}", user_robots_path(user) %>
					<% end %>
				</dd>
			<% end %>
		</dl>
		<% if defined? tier %>
		<dl class="sub-nav">
			<dt>Tier:</dt>
			<% Tier.all.each_with_index do |t, index| %>
				<dd class="<%= "active" if tier == "#{index + 1}" %>"><%= link_to "#{index + 1}", tier_path(index + 1) %></dd>
			<% end %>
		</dd>
		<% end %>
	</div>
</div>