<div class="row body">
	<div class="large-12 columns">
		<%= link_to image_tag(@robot.screenshot_url, alt: @robot.name), @robot.screenshot_url, target: "_blank" %>
		
		<div class="row">
			<div class="medium-8 columns">
				<h1>
					<span class="label tier"><%= link_to "T" + @robot.tier.name, tier_path(@robot.tier.name) %></span>
					<%= @robot.name %>
				</h1>
				<p><%= @robot.description %></p>
				<p>By <%= link_to @user.name, @user %>, <%= time_ago_in_words(@robot.created_at) %> ago</p>
				
				<% if Time.at(@robot.updated_at).to_date != Time.at(@robot.created_at).to_date %>
					<p>Last updated <%= time_ago_in_words(@robot.updated_at) %> ago</p>
				<% end %>
			
				<% if @robot.entries.present? %>
					<p>This robot is entered in the following competitions:</p>
					<% @robot.entries.each do |entry| %>
						<%= link_to entry.competition.name, entry.competition, class: "label" %>
					<% end %>
				<% end %>
			</div>
			<div class="medium-4 columns">
				<% @robot.categories.each do |c| %>
					<%= link_to c.name, c, class: "label category" %>
				<% end %>
				<p class="body"><%= pluralize(@robot.views, "view") %></p>
				<p><%= pluralize(@robot.comments.count, "comment") %></p>
				<% if current_user?(@user) || admin?(current_user) %>
					<%= link_to "Edit robot", edit_robot_path(@robot), class: "button small secondary" %>
					<%= link_to "Delete robot", @robot, method: :delete, data: { confirm: 'Are you sure?' }, class: "button small alert" %>
				<% end %>
			</div>
		</div>
		
		<% if @similar_robots.present? %>
			<h2 class="body">Similar robots:</h2>
		<% end %>
	</div>
</div>

<%= render @similar_robots %>

<div class="row body">
	<div class="large-12 columns">
		<h2>Comments:</h2>
		<%= render @comments %>
	</div>
</div>

<div class="row body">
	<%= render 'comments/form' %>
</div>