<h1>
	<span class="label tier"><%= link_to "T" + @robot.tier.name, @robot.tier %></span>
	<%= @robot.name %>
</h1>
<p><%= @robot.description %></p>
<%= image_tag @robot.screenshot_url, alt: @robot.name %>

<%= link_to "Back", robots_path, class: "button alternate" %>