<% provide :hero_title, "Edit your profile" %>

<div class="row body">
    <div class="large-8 columns large-centered">
        <%= form_for(@user) do |f| %>

            <%= render 'errors' %>

            <%= f.label :name %>
            <%= f.text_field :name %>

            <%= f.label :email %>
            <%= f.text_field :email %>

            <%= f.label :password %>
            <%= f.password_field :password %>

            <%= f.label :password_confirmation, "Confirm password" %>
            <%= f.password_field :password_confirmation %>

            <%= button_tag "Save changes", class: "button" %>
        <% end %>

        <%= gravatar_for @user %>
        <a href="http://gravatar.com/emails">Change avatar</a>
    </div>
</div>