<% provide :hero_title, "Sign up for Robocraft" %>

<div class="row body">
	<div class="medium-8 columns large-centered">
		<%= form_for @user do |f| %>
			
			<%= render 'errors' %>

			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.label :password_confirmation, "Confirm password" %>
			<%= f.password_field :password_confirmation %>

			<%= button_tag "Create my account", class: "button" %>
		<% end %>
	</div>
</div>