<h1>
	<%= gravatar_for @user %>
	<%= @user.name %>
</h1>
<p class="lead"><%= pluralize(@user.robots.count, "robot") %></p>
<%= link_to "View robots", user_robots_path(@user), class: "button" %>
<%= link_to "Back", root_path, class: "button secondary" %>