<!DOCTYPE html>
<html>
	<%= render 'partials/head' %>
	<body>
		<%= render 'partials/navbar' %>

		<div class="row body">
			<% flash.each do |key, value| %>
				<div data-alert class="alert-box <%= key %>">
					<%= value %>
					<a href="#" class="close">&times;</a>
				</div>
			<% end %>

			<div class="large-8 columns">
				<%= yield %>
			</div>

			<div class="large-4 columns">
				
			</div>
		</div>
		
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	</body>
</html>
