<!DOCTYPE html>
<html>
	<%= render 'partials/head' %>
	<body>
		<%= render 'partials/navbar' %>

		<div class="body">
			<% if content_for? :hero_title %>
			<div class="hero">
				<div class="hero-inner small">
					<h1><%= yield :hero_title %></h1>
				</div>
			</div>
			<% end %>

			<% flash.each do |key, value| %>
				<div data-alert class="alert-box <%= key %>">
					<%= value %>
					<a href="#" class="close">&times;</a>
				</div>
			<% end %>

			<%= yield %>

			<%= render 'partials/footer' %>
		</div>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	</body>
</html>
