<!DOCTYPE html>
<html>
	<%= render 'partials/head' %>
	<body>
		<%= render 'partials/navbar' %>

		<%= yield %>

		<%= render 'partials/footer' %>
		
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	</body>
</html>
